/*custom stylesheet*/


/*navigation bar*/
.background{
	position: relative;
	height: 300px;
	background: url(../Images/background.jpg);
	/*background-repeat: no-repeat;*/
	/*background-position: center;*/
	/*background-size: cover;*/
}

nav ul li a{ 
	color: black;
	font-size: 20px;
}
#dropdown1 li a{
	color: black;
}
nav .brand-logo{
	color: black;
	font-size: 30px;
}
nav{
    position: fixed;
    background: rgba(0, 0, 0, 0.2);
    padding:0px 20px;
	z-index: 1;
	line-height: 100px;
	height: 100px;
}

/*navigation bar end*/
.media1{
	background-color: #2F2FA5;
	padding-top: 120px;
	padding-bottom: 120px;
}
.media2{
	background-color: #5CDB95;
	padding-top: 120px;
	padding-bottom: 120px;
}
.media3{
	background-color: #C3073F;
	padding-top: 120px;
	padding-bottom: 120px;
}
.media1 h2{
	padding-top: 0px;
	line-height: 0;
}
.media1 p{
	padding-top: 15px;
	font-size: 20px
}
.media2 h2{
	padding-top: 0px;
	line-height: 0;
}
.media2 p{
	padding-top: 15px;
	font-size: 20px
}
.media3 h2{
	padding-top: 0px;
	line-height: 0;
}
.media3 p{
	padding-top: 15px;
	font-size: 20px
}

/*team*/
.card .card-content .card-title h4{
	padding-top: 0;
	text-align: center;
	font-weight: bolder;
}
.card .card-content{
	text-align: center;
	font-size: 18px;
}

/*footer*/
footer{
	/*background-color: #3b3ef2;*/
}
/* social icons */

/* Wrapper */

.icon-button {
    background-color: white;
    border-radius: 3.5rem;
    cursor: pointer;
    display: inline-block;
    font-size: 2.5rem;
    height: 3.5rem;
    line-height: 3.5rem;
    margin: 0 5px;
    position: relative;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 3.5rem;
}

.contaner .icon-button {
    background-color: #F4F1E0;
    border-radius: 3.5rem;
    cursor: pointer;
    display: inline-block;
    font-size: 2.5rem;
    height: 3.5rem;
    line-height: 3.5rem;
    margin: 0 5px;
    position: relative;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 3.5rem;
}

/* Circle */

.icon-button span {
    border-radius: 0;
    display: block;
    height: 0;
    left: 50%;
    margin: 0;
    position: absolute;
    top: 50%;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    width: 0;
}

.container .icon-button span {
    border-radius: 0;
    display: block;
    height: 0;
    left: 50%;
    margin: 0;
    position: absolute;
    top: 50%;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    width: 0;
}

.icon-button:hover span {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 3.5rem;
    margin: -1.75rem;
}

.instagram span {
    background-color: #E1306C;
}

.twitter span {
    background-color: #4099ff;
}

.facebook span {
    background-color: #3B5998;
}

.google-plus span {
    background-color: #db5a3c;
}

.github span {
    background-color: black;
}

.linkedin span {
    background-color: #007bb6;
}
.envelope span {
    background-color: #003153;
}

.youtube-play span {
    background-color: #c4302b;
}

.external-link span {
    background-color: #03cece;
}

.user span {
    background-color: #03cece;
}

/* Icons */

.icon-button i {
    height: 3.5rem;
    left: 0;
    line-height: 3.5rem;
    top: 0;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    width: 3.5rem;
    z-index: 10;
}

.icon-button .fa-user {
    color: #03cece;
}

.icon-button .fa-external-link {
    color: #03cece;
}

.icon-button .fa-instagram {
    color: #E1306C;
}

.icon-button .fa-twitter {
    color: #4099ff;
}

.icon-button .fa-facebook {
    color: #3B5998;
}

.icon-button .fa-google-plus {
    color: #db5a3c;
}

.icon-button .fa-github {
    color: #000000;
}

.icon-button .fa-linkedin {
    color: #007bb6;
}

.icon-button .fa-envelope {
    color: #003153;
}

.icon-button .fa-bitbucket {
    color: #000000;
}

.icon-button .fa-youtube-play {
    color: #c4302b;
}

.icon-button:hover .fa-user, .icon-button:hover .fa-globe, .icon-button:hover .fa-external-link, .icon-button:hover .fa-youtube-play, .icon-button:hover .fa-instagram, .icon-button:hover .fa-twitter, .icon-button:hover .fa-facebook, .icon-button:hover .fa-github, .icon-button:hover .fa-bitbucket, .icon-button:hover .fa-linkedin, .icon-button:hover .fa-envelope, .icon-button:hover .fa-google-plus {
    color: white;
}
